*{
    color: azure;
    box-sizing: border-box;
    font-family: Inter;
    margin: 0;
}

.container{
    max-width: 550px;
    margin: 0 auto;
    background-color: #23252C;
}
.wrapper{
    max-width: 317px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
   
    
}
.header{
    height: 372px;
}
.header > img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}
.main--content{
    background-color:#1A1B21;
}
.main--content > h2 {
    text-align: center;
    line-height: 40px;
    padding-top: 20px;
}
.main--content > h4 {
    text-align: center;
    line-height: 10px;
    font-weight: 400;
    color: #F3BF99;
}
.main--content .github {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 16px;
    text-decoration: none;
}
.main--content .github:hover{
    transition: all 0.5s;
    color:#4676D7;
    cursor: pointer;
}

.buttons-item{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.buttons-item .button{
    width: 247px;
    height: 34px;
    border-radius: 10px;
    appearance: none;
    border: 0;
    font-size: 16px;
}

.buttons-item .button:hover{
    transition: all 0.2s;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #4676D7;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.buttons-item .button:focus{
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}



.buttons-item .button > i{
    color:#1A1B21;
    padding-right: 10px;
}

.buttons-item .button > a{
    color: #1A1B21;
    text-decoration: none;
}
.main--content .content{
    margin: 0 auto;
    max-width: 247px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.main--content .content >h3{
    font-size: 18px;
    line-height: 35px;
}
.main--content .content >p{
    font-size: 12px;
    line-height: 14px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#161619;
    height: 64px;
    border-radius:0 0 20px 20px;
    padding: 0 30px; 
}
.footer > a:hover{
    cursor: pointer;
}


