:root{
    box-sizing: border-box;
    margin: 0;
}
p{
    font-size: 60px;
    font-weight: 500;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-size: 36px;
}
h3{
    line-height:10px;
    color:azure;
}
button{
    width: 45px;
    height: 45px;
    border-radius:5px ;
    margin: 10px 3px;
    background-color: rgb(15, 40, 102);
    border:3px solid white;
}
#refresh{
    position: absolute;
    top: 330px;
    right: 195px;
    width: 125px;
    height: 45px;
    border-radius:5px ;
    margin: 10px 3px;
    background-color: rgb(15, 40, 102);
    border:3px solid white;
}
.container{
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 400px;
    background-color: rgb(15, 40, 102);
    border-radius: 20px;
    display: flex;
    justify-content:space-evenly;
}
.home, .guest{
    margin: 10px;
}
.home > h2, p{
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
}
.guest >h2, p{
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
}
.home .box1{
    width: 155px;
    height: 120px;
    background-color:black;
}
.guest .box2{
    width: 155px;
    height: 120px;
    background-color:black;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container---btn{
    margin-top: 20px;
    display: flex;
    align-items:center;
    justify-content: center;

}